<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    package="com.longj.androids23">

    <!-- 权限设置 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- SD卡的创建、删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- android:name=指定application类 -->


        <!-- 高德地图需要开启的定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="48472e32fd10c7ed713f3db4c4a08e63" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GestureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GgkAndChangeLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HightControlsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AudioAndVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Record_PlayVideoACs.JLVideoPalyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Record_PlayVideoACs.JLVideoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InternetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiThreadingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SensorActivity" />
        <activity android:name=".GPSAndGaoDeMapActivity" />
        <activity android:name=".ImageLoadActivity" />
        <activity android:name=".UseGsonActivity" />
        <activity android:name=".TransactionActivity" />
        <activity android:name=".ActivityTransaction.ManyBtnsActivity" />
        <activity android:name=".BluetoothActivity"></activity>
    </application>

</manifest>